<div class="search-container">

  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <span class="logo" routerLink="/">GameLand</span>

    <input
      type="text"
      class="search-input"
      ngModel
      placeholder="Search 500,000+ games"
    >
    <button class="search-button">Search</button>
  </form>

</div>
